<body>
  <div class="sobre-container">
    <h1>Sobre o Projeto</h1>
    <p>Meu nome é Lorena de Castro!<br>
    Sou amante de poesia e literatura e uma das minhas poetisas prediletas é a Clarice Lispector. Ela é a personificação do poema, da sensibilidade, do dom da escrita e do amor.<br>
    Esse blog foi criado para compartilhar poemas, ideias e histórias que tocam a alma. Aqui você pode se inspirar, refletir, compartilhar ideias, opiniões e também contribuir com seus próprios textos.</p>
  </div>

  <footer class="footer">
    <p>&copy; 2025 Lorena de Castro. Todos os direitos reservados.</p>
  </footer>
</body>
